<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin bill section</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body background="home pic.jpg" style="background-repeat: no-repeat;background-size: 100%;background-size: cover;">
      <ul class="navigation">
        <li><a class="navigation_pages" href="admin.html">Home</a></li>
        <li><a class="navigation_pages" href="ad_maintenance.html">maintenance</a></li>
        <li><a class="navigation_pages" href="ad_bills.html">Bills</a></li>
        <li><a class="navigation_pages" href="ad_contact.html">contact us</a></li>
      </ul>
      <h1 class="Apartment">APARTMENT</h1>
      <div id="bill_box">
        <form action="" method="post">
          <div class="room_bills" style="background-color: whitesmoke;">{% csrf_token %}<h3 style="text-align: center;">room 1</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number" id="rent"><input placeholder="electricity" min="0" type="number" id="electricity"><input placeholder="water" min="0" type="number" id="water"><input placeholder="food" min="0" type="number" id="food"><input placeholder="parking" min="0" type="number" id="parking"></div><button class="bill_send" id="">send</button></div></form>


        <div class="room_bills" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 2</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number"><input placeholder="electricity" min="0" type="number"><input placeholder="water" min="0" type="number"><input placeholder="food" min="0" type="number"><input placeholder="parking" min="0" type="number"></div><button class="bill_send">send</button></div>
        <div class="room_bills" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 3</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number"><input placeholder="electricity" min="0" type="number"><input placeholder="water" min="0" type="number"><input placeholder="food" min="0" type="number"><input placeholder="parking" min="0" type="number"></div><button class="bill_send">send</button></div>
        <div class="room_bills" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 4</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number"><input placeholder="electricity" min="0" type="number"><input placeholder="water" min="0" type="number"><input placeholder="food" min="0" type="number"><input placeholder="parking" min="0" type="number"></div><button class="bill_send">send</button></div>
        <div class="room_bills" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 5</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number"><input placeholder="electricity" min="0" type="number"><input placeholder="water" min="0" type="number"><input placeholder="food" min="0" type="number"><input placeholder="parking" min="0" type="number"></div><button class="bill_send">send</button></div>
        <div class="room_bills" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 6</h3><div class="bill_inputs"><input placeholder="room rent" min="0" type="number"><input placeholder="electricity" min="0" type="number"><input placeholder="water" min="0" type="number"><input placeholder="food" min="0" type="number"><input placeholder="parking" min="0" type="number"></div><button class="bill_send">send</button></div>
    </div>
</body>
</html>