<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin maintenance</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body background="home pic.jpg" style="background-repeat: no-repeat;background-size: 100%;background-size: cover;">
    <ul class="navigation">
        <li><a class="navigation_pages" href="admin.html">Home</a></li>
        <li><a class="navigation_pages" href="ad_maintenance.html">maintenance</a></li>
        <li><a class="navigation_pages" href="ad_bills.html">Bills</a></li>
        <li><a class="navigation_pages" href="ad_contact.html">contact us</a></li>
      </ul>
      <h1 class="Apartment">APARTMENT</h1>
      <div id="room_box">
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 1</h3><button class="maintenance_respond">accept</button></div>
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 2</h3><button class="maintenance_respond">accept</button></div>
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 3</h3><button class="maintenance_respond">accept</button></div>
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 4</h3><button class="maintenance_respond">accept</button></div>
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 5</h3><button class="maintenance_respond">accept</button></div>
        <div class="room_maintenance" style="background-color: whitesmoke;"><h3 style="text-align: center;">room 6</h3><button class="maintenance_respond">accept</button></div>
    </div>
</body>
</html>