<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills</title>
    <link rel="stylesheet" href="user.css">
</head>
<body background="home pic.jpg" style="background-repeat: no-repeat;background-size: 100%;background-size: cover;">
    <ul class="navigation">
        <li><a class="navigation_pages" href="user.html">Home</a></li>
        <li><a class="navigation_pages" href="maintenance.html">maintenance</a></li>
        <li><a class="navigation_pages" href="bills.html">Bills</a></li>
        <li><a class="navigation_pages" href="contact_us.html">contact us</a></li>
        <li><a class="navigation_pages" href="about.html">About us</a></li>
      </ul>
    <h1 class="Apartment">APARTMENT</h1>
    <div style="width: 80%;border: solid black 1px;border-radius: 5px;height: 500px;position: relative; left: 10%;right: 10%;top: 50px;background-color: lightgrey;">
        <h1 style="margin-left: 50%;text-decoration: dotted black;">Bills</h1><br>
        {% for entry in data %}
            <li>{{ entry.name }} - {{ entry.date }}</li>
        {% endfor %}
        <h3 class="bill_items">room rent</h3><br>
        <h3 class="bill_items">elctricity</h3><br>
        <h3 class="bill_items">water</h3><br>
        <h3 class="bill_items">food</h3><br>
        <h3 class="bill_items">parking</h3><br>
    </div>
</body>
</html>