<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="user.css">
</head>
<body background="home pic.jpg" style="background-repeat: no-repeat;background-size: 100%;background-size: cover;">
    <ul class="navigation">
        <li><a class="navigation_pages" href="user.html">Home</a></li>
        <li><a class="navigation_pages" href="maintenance.html">maintenance</a></li>
        <li><a class="navigation_pages" href="bills.html">Bills</a></li>
        <li><a class="navigation_pages" href="contact_us.html">contact us</a></li>
        <li><a class="navigation_pages" href="about.html">About us</a></li>
      </ul>
      <h1 class="Apartment">APARTMENT</h1>
    
</body>
</html>