<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="admin.html">
</head>
<body background="login pic.jpg" style="background-repeat: no-repeat;background-size: 100%;">
    
    <h1 class="Apartment">APARTMENT</h1>
    <form action="" method="post">
       <div id="login">
           <label class="login_box" for="Username" id="login_label">Username <style ></style></label><br>
           <input class="login_box" id="Username" type="email" name="Username" required><br>
           <label class="login_box" for="password" id="login_label">password</label><br>
           <input class="login_box" id="password" type="password" maxlength="8" name="password" required><br>
           <button class="login_box">login</button>
        </div>
    </form> 
</body>
</html>