<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maintenance</title>
    <link rel="stylesheet" href="user.css">
</head>
<body background="home pic.jpg" style="background-repeat: no-repeat;background-size: 100%;background-size: cover;">
    <ul class="navigation">
        <li><a class="navigation_pages" href="user.html">Home</a></li>
        <li><a class="navigation_pages" href="maintenance.html">maintenance</a></li>
        <li><a class="navigation_pages" href="bills.html">Bills</a></li>
        <li><a class="navigation_pages" href="contact_us.html">contact us</a></li>
        <li><a class="navigation_pages" href="about.html">About us</a></li>
      </ul>
      <h1 class="Apartment">APARTMENT</h1>
    <div id="maintenance_box">
        <div class="maintenance_cards" style="background-color: lightcoral;"><h3 style="text-align: center;">room cleaning</h3><button class="maintenance_cards_ticket">ticket</button></div>
        <div class="maintenance_cards" style="background-color: lightblue;"><h3 style="text-align: center;">electrical faults</h3><button class="maintenance_cards_ticket">ticket</button></div>
        <div class="maintenance_cards" style="background-color: greenyellow;"><h3 style="text-align: center;">Food</h3><button class="maintenance_cards_ticket">ticket</button></div>
        <div class="maintenance_cards" style="background-color: cyan;"><h3 style="text-align: center;">doctor check-up</h3><button class="maintenance_cards_ticket">ticket</button></div>
        <div class="maintenance_cards" style="background-color: lightslategrey;"><h3 style="text-align: center;">plumbing faults</h3><button class="maintenance_cards_ticket">ticket</button></div>
        <div class="maintenance_cards" style="background-color: yellow;"><h3 style="text-align: center;">Parking</h3><button class="maintenance_cards_ticket">ticket</button></div>
    </div>
</body>
</html>